extends layout

block content
  - var logged = logat
  - var usuari = {nom: usr.name, isAdmin: usr: isAdmin}
  .container-info
      h1 Bienvenido a Desaliniadoras.com
      p Somos una plataforma dedicada a concienciar sobre la escasez de agua y promover soluciones como las desaliniadoras para combatirla. Aquí encontrarás información detallada sobre la situación del agua en diferentes regiones del mundo y cómo las desaliniadoras pueden contribuir a mitigar este problema.
      p En nuestro sitio, explorarás datos y análisis comparativos sobre la disponibilidad de agua en diversas naciones. Desde Australia hasta Nigeria, examinaremos las diferencias significativas en la cantidad y calidad del suministro de agua en todo el mundo.
      p Además, ofrecemos artículos informativos, estudios de caso y entrevistas con expertos en el campo de la desalinización y la gestión del agua. Nuestro objetivo es fomentar la conciencia pública sobre la importancia de conservar y gestionar de manera sostenible este recurso vital para las generaciones futuras.