extends layout

block content

  head
    link(rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet/dist/leaflet.js")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contacte
    link(rel="stylesheet" href="planta.css")
    link(rel="icon" type="image/x-icon" href="/IMATGES/favicon.ico")

  body
    #map
    h1 On hem pensat Situar la planta dessalinitzadora?
    h2.subtitul Hem decidit que una bona zona seria entre Leki i Orimedu ja que hi ha una gran expansió de terreny sense arbres ni construccions:
    br
    .gallery-wrapper
      .gallery-scroll
        .gallery
          .item
          .item
            img(src="Imatges/cuadrant_colors.png" alt="Image")
    
    .posters-container
      .poster(id="titA")
        h2
          u Perquè aquesta ubicació?
        br
        | Vam estar buscant durant uns dies quina zona seria la indicada per a establir la planta dessalinitzadora, ja que hi havia molts factors a tenir en compte com si ja hi havia infraestructura en la zona, si era una zona habitada, potser també a l'haver-hi selva a poca distància no es podia construir perquè podria ser una zona protegida, al final vam trobar aquesta zona que no té massa vegetació ni tampoc gent habitant-la. Un altre punt que havíem de tenir en compte era que la zona havia d'estar a prop del mar, ja que les dessalinitzadores s'encarreguen de filtrar aigua salada mitjançant uns processos per fer-la potable.

    footer
      h3.titolContacte Contacte:
      ul.ulContacte
        li Telf: 746783562
        li Email: contacte.aigua@gmail.com
        li C. de la Industria 117, L'Eixample, 08025 Barcelona
      h3.titolSocials Troba'ns a:
      .ulSocials
        img(src="Imatges/instagram.svg" width="30" height="30")
        img(src="Imatges/facebook.svg" width="30" height="30")
        img(src="Imatges/tiktok.svg" width="30" height="30")
        img(src="Imatges/x.svg" width="30" height="30")
        img(src="Imatges/youtube.svg" width="30" height="30")

    script.
      var map = L.map('map').setView([6.441626288975287, 3.773954097364349], 13)
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map)
      L.marker([6.441626288975287, 3.773954097364349]).addTo(map)
        .bindPopup('Desalinitzadora')
        .openPopup()
    
